<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
</head>
<body>
  <h1>ZAPATERIA</h1>


<form action="/file"method="POST" enctype="multipart/form-data">
    <input type="file" name="myFile">
    <button>enviar</button>
</form>

</body>
</html>




<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

