<form action="/api/session/login" method="POST">

<h2>Login</h2>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Ingrese su email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Ingrese su password">
    <button> Enviar</button>
    <a href="/api/session/github">GitHub</a>

<div>
<a href="/register">Regístrate</a>
<a href="/requestPassword">Has olvidado la contraseña?</a>
</div>
</form>   