

<!DOCTYPE html>
<html lang="en">
<head>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra realizada</title>
</head>
<body>

    <h1>Compra realizada</h1>
    <p>A continuación, encontrarás los detalles de tu compra:</p>
    
    <h2>Ticket de compra</h2>
    <p>Código: {{ticket.code}}</p>
    <p>Fecha y hora de compra: {{ticket.purchase_datetime}}</p>
    <p>Comprador: {{ticket.purchaser}}</p> 
    <h3>Monto total: {{ticket.amount}}</h3>
</body>
</html>



