<form action="/api/session/register" method="POST">

<h2>Registro</h2>
<label for="first_name">first_name</label>
<input type="text" name="first_name" id="first_name" placeholder="Ingrese su nombre">

<label for="last_name">last_name</label>
<input type="text" name="last_name" id="last_name" placeholder="Ingrese su apellido">

<label for="email">Email</label>
<input type="email" name="email" id="email" placeholder="Ingrese su email">

<label for="password">Password</label>
<input type="password" name="password" id="password" placeholder="Ingrese su password">

    <button> Enviar</button>
</form>