<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
</head>
<body>
    <h2>¿Has olvidado tu contraseña?</h2>
    <h3>Te enviaremos un código</h3>
    <form action="/requestPassword" method="POST">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Ingrese su email">
        <button type="submit">Enviar correo</button>
    </form> 
</body>
</html>
