<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar la contraseña</title>
</head>
<body>
    <h1>Inicio de sesion en la cuenta</h1>
    <h3>Cambia tu contraseña</h3>
    <p>Elige tu nueva contraseña</p>


          <form action="/updatePassword" method="POST">
           <input type="hidden" name="token" value="<%= token %>" >
    <label for="newPassword">Nueva Contraseña</label>
    <input type="password" name="newPassword" id="newPassword" placeholder="Nueva Contraseña">

    <label for="confirmPassword">Confirmar Contraseña</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña">

    <button type="submit">Restablecer Contraseña</button>
</form>
</body>

<script>
    const params = new URLSearchParams(window.location.search);
    const token = params.get("token");
    const tokenInput = document.querySelector("input[name='token']");
    tokenInput.value = token;
    
</script> 
</html>